
.item1 { 
  grid-area: CV; 
  margin-left: auto ; 
  margin-right: auto;

}


.item2 { grid-area: profil; }
.item3 { grid-area: Compétences; }
.item4 { grid-area: Aptitudes; }
.item5 { grid-area: ExPro; }
.item6 { grid-area: Interets; }
.item7 { grid-area: Formation; }



.grid-container {
  display: grid;
  grid-template-areas:
  'CV CV CV CV CV CV'
  'profil profil profil ExPro ExPro ExPro'
  'Formation Formation Formation ExPro ExPro ExPro'
  'Aptitudes Aptitudes Aptitudes Aptitudes Aptitudes Aptitudes  '
  'Interets Interets Interets Compétences Compétences Compétences  ';
}

.grid-container > div {
  background-color: #ffffff;
 opacity: 0.4;
  text-align: center;
  font-size:18px;
  border-radius: 22px;
  margin: 1%;
}
li{
  list-style: none;
  margin: 5px;
}
ul{
  column-count: 2;
  margin: 5px;
  text-align: justify;
}


h1{
  text-transform: uppercase;
}

.container{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

html{
  background-color: #1687ed;
  background-image: url("../fond.jpeg");
  background-repeat: no-repeat;
  background-position: bottom right ;
  background-size: cover;
  
}

.tache{
  column-count: 3;
}

.ed1{
  column-count: 4;
}